.aboutMe{
    padding-left: 20px;
    min-height: 84vh;
    display: flex;
    justify-content: space-between;
}

.aboutMe .contacts-info .info{
    display: flex;
    cursor: pointer;
    margin-top: 10px;
    align-items: center;
    gap: 10px;
}

.aboutMe .contacts-info .info .link{
text-decoration: none;
}

.aboutMe .info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aboutMe .image{
    width: 500px;
}