.aboutMe{
    padding-left: 20px;
    min-height: 81vh;
  
}

.aboutMe .contacts-info .info{
    display: flex;
    cursor: pointer;
    margin-top: 10px;
    align-items: center;
    gap: 10px;
}

.aboutMe .contacts-info .info .link{
text-decoration: none;
}

.aboutMe .profile-container{
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.aboutMe .profile-container .info-container .title{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 2rem;
}

.aboutMe .profile-container .info-container .info{
    font-style: italic;
    font-size: 1.5rem;
}

.aboutMe .profile-container .info-container .btn{
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 1.5rem;
    border-radius: 20px;
}

.aboutMe .profile-container .image{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-right: 20px;
}
